@model CustomerPortal.Models.Customer

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
</head>
<body>
    <div class="main-content">
        <div class="container-fluid" style="z-index:10;position: absolute;margin-top: 30px;">
            <a class="h4 text-white text-uppercase ">User profile</a>
        </div>
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px;background-size: cover; background-position: center top;" id="bg">
            <span class="mask bg-gradient-default opacity-8"></span>
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">Hello @ViewBag.UserName</h1>
                        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made, see your current account holdings, buy stocks, mutual funds and lots more.</p>
                        <a asp-controller="Portfolio" asp-action="GetCustomerPortfolio" asp-route-portfolioId="@ViewBag.PortfolioId" class="btn btn-info">Net Worth</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img src="~/Images/nobody.jpg" class="rounded-circle" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                                <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                            </div>
                        </div>
                        <div class="card-body pt-0 pt-md-4">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <!--  Age  -->
                                <h3>@ViewBag.Name<span class="font-weight-light">, 27</span></h3>
                                <div class="h5 font-weight-300">
                                    <!--Address -->
                                    <i class="ni location_pin mr-2"></i>@ViewBag.Address1
                                </div>
                                <div class="h5 mt-4">
                                    <i class="ni location_pin mr-2"></i>@ViewBag.Address2 @ViewBag.City
                                </div>
                                <div>
                                    <i class="ni education_hat mr-2"></i>Contact : @ViewBag.Phone
                                </div>
                                <br /><br />
                                <hr class="my-2" style="margin-top:40px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">My account</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                                <h6 class="heading-small text-muted mb-4">User information</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <input type="button" class="form-control btn btn-info" value="Dummy Button 1">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="button" class="form-control btn btn-info" value="Dummy Button 2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <input type="button" class="form-control btn btn-info" value="Dummy Button 3">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group focused">
                                                <input type="button" class="form-control btn btn-info" value="Dummy Button 4">
                                            </div>
                                        </div>
                                    </div>
                                </div><br><br>
                                <hr class="my-4">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
